<div class="body">
    <div>
      <div class="header">
        <div style="margin-top: 3%;">
          <div class="d-flex justify-content-center m-4">
            <h1>Trouver <strong>Entreprise</strong></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="cardcontainer">
      <div class="card" *ngFor="let sc of lessocietes">
          <div class="card-header">
            <img src="#" width="270px" height="160px" alt="logo societe"/>
          </div>
          <div class="card-body">
              <h2>{{sc.Nom}}</h2>
            <p>{{sc.Email}}</p>
            <p class="location">Address:{{sc.Adresse}}</p>
            <p class="description">{{sc.Activite}} </p>
          </div>
      </div>
    </div>
  </div>
