.header {
    /* background-color: #4682b4; */
    padding: 50px;
    text-align: center;
    height: 10rem;
  }
  .card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
    width: 300px;
  }
  
  .card-header {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
  }
  
  .card-header h2 {
    font-size: 24px;
    margin: 0;
  }
  
  .card-header p {
    font-size: 16px;
    margin: 5px 0 0;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .duration {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .location {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .requirements {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
  }
  
  .requirements li {
    margin-bottom: 10px;
  }
  
  .btn {
    display: block;
    background-color: #ff6f61;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    background-color: #e55649;
  }
  
  .body{
    margin: 0;
      padding: 0;
      color: #9c9893;
      font-family: Tahoma, Geneva, sans-serif;
      font-size: 13px;
      line-height: 1.7em; 
      background-color: #0a1425;
      background-image: url(../../../assets/images/tooplate_body.jpg);
      background-repeat: repeat-x;
      background-position: top;
  }
  
  h1{
    font-family: 'Nunito';
    width: 21%;
    text-align: center;
    border: 5px solid tomato;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    color: white;
  }
  
  strong{
    font-size: 40px;
    color: white;
  }