<div class="body">
    <div>
      <div class="header">
        <div style="margin-top: 3%;">
          <div class="d-flex justify-content-center m-4">
            <h1>Trouver <strong>Entreprise</strong></h1>
          </div>
        </div>
      </div>
    </div>
    <div style="height: 50px;">
      <div class="card">
          <div class="card-header">
            <img src="../../../assets/images/actia.png" width="270px" height="160px"/>
          </div>
          <div class="card-body">
              <h2>Nom Entreprise XYZ</h2>
            <p>Description de l'entreprise</p>
            <p class="duration">type</p>
            <p class="location">(address)Ville, Pays</p>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at imperdiet massa. Vivamus varius ante euismod, consequat lorem vel, dapibus eros. Aenean vel velit libero. </p>
          </div>
      </div>
    </div>
  </div>
{{lessociete|json}}