
<div>
	
	
    <div class="header">
		
				
        <h1 style="color: aliceblue;">Developpeur Front-End</h1>
        <h2 style="color: aliceblue;">Focus</h2>
        <p style="color: aliceblue;">El ghazela</p>
			
	
    </div>
	
	</div>
<div class="body">
<div class="container mt-4">
	<div class="row mb-5">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12 mb-4">
					<img alt="" class="img-thumbnail p-0 border-0" src="assets/images/focus.png" id="imgetp"/>
				</div>

			</div>
		</div>
		<div class="col-md-4">
			<div class="card" id="c1">
				<div class="card-body">
					<h1>Focus</h1>
					<p class="m-0">
						<i class="fas fa-star fa-sm"></i>
						<i class="fas fa-star fa-sm"></i>
						<i class="fas fa-star fa-sm"></i>
						<i class="far fa-star fa-sm"></i>
						<i class="far fa-star fa-sm"></i>
					</p>
					<ul class="list-group list-group-flush mb-4">
						<li class="list-group-item pl-0 pr-0 pt-2 pb-2">Poste: <span style="color: blue;">Developpeur Front-End</span></li>
						
						
						<li class="list-group-item pl-0 pr-0">
							<p class="m-0 h2">Salaire: 350000 of Month </p>
							
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-12 mt-4">
			<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
				<li class="nav-item"  role="presentation">
					<a class="nav-link lead active" role="tab" data-bs-toggle="tab" data-bs-target="#tabDescription">Description de la scocieté</a>
				</li>
				<li class="nav-item">
					<a class="nav-link lead" role="tab" data-bs-toggle="tab"  data-bs-target="#tabSpecification">Profile</a>
				</li>
			
				<li class="nav-item"  role="presentation">
					<a class="nav-link lead " role="tab" data-bs-toggle="tab" data-bs-target="#tabFaq">Admissiblité</a>
				</li>
				<li class="nav-item"  role="presentation">
					<a class="nav-link lead " role="tab" data-bs-toggle="tab" data-bs-target="#tabVideo">processus</a>
				</li>
				<li class="nav-item"  role="presentation">
					<a class="nav-link lead " role="tab" data-bs-toggle="tab" data-bs-target="#tabBlog">logistique</a>
				</li>
				
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane pt-4 active" role="tabpanel" id="tabDescription">
                    <h2 style="color:aliceblue">A propos Focus</h2>
					<p style="font-weight:bolder;font-size: larger;font-family: 'Franklin Gothic Medium';"> Nos clients viennent avec des idées,des projets,que nous transformons en solutions It qui leur apportent plus  d'agilité,de performance... </p>
				</div>
				<div class="tab-pane pt-4" role="tabpanel" id="tabSpecification">
					<ul>
						<li>Ingénieur en Informatique</li>

							<li>Une expérience d'au moins 3 ans dans le développement Orienté Objet est exigée.</li> 
							<li> Bonne maîtrise de la programmation orientée objet</li>
								<li> Connaissance en Webservices est très appréciée</li>
							
					</ul>
				</div>
				
				<div class="tab-pane pt-4" role="tabpanel" id="tabFaq">
					<div class="accordion" id="accordionExample">
						<div class="card">
							<div class="card-header bg-blue" id="headingOne" data-toggle="collapse" data-target="#collapseOne">Compétences</div>
							<div id="collapseOne" class="collapse show" data-parent="#accordionExample">
								<div class="card-body">
									<ul>
									<li>Compréhension des concepts avancés de l'orienté objet.</li>
									<li>Maîtrise des langages de programmation orientés objet (JAVA, J2EE, .Net, PHP,C++,C#)</li>
									<li>Collaboration et travail d'équipe.</li>
								</ul>
							</div>
							
						</div>
						</div>
						<div class="card">
							<div class="card-header bg-blue" id="headingTwo" data-toggle="collapse"  data-target="#collapseTwo">Langues</div>
							<div class="card-body">
							<ul>
									<li>Très bon niveau en Français et Anglais</li>
								</ul>
							</div>
						</div>
						<div class="card">
							<div class="card-header bg-blue" id="headingThree" data-toggle="collapse" data-target="#collapseThree">Niveau d'étude minimum:</div>
							<div class="card-body">
								<ul>
							<li>Licence (obligatoire).</li>
						</ul>
							</div>
							</div>		
					
					</div>
				</div>








				<div class="tab-pane pt-4" role="tabpanel" id="tabVideo">
					<div class="row">
						<div class="col-md-3">
							<div class="card">
								<img class="card-img-top" src="https://via.placeholder.com/100x100" alt="">
								<div class="card-body">
									Une fois que vous nous avez envoyé votre curriculum vitae par courriel, nous vous envoyons un courriel avec un formulaire. Cela fait partie du processus de présélection.
								</div>
								<div class="card-footer">
									<p class="card-text"><a href="#">Next=></a></p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="card">
								<img class="card-img-top" src="https://via.placeholder.com/200x200" alt="">
								<div class="card-body">
								Un entretien  avec les ressources humaines (RH).
								<br><br><br><br>
								</div>
								<div class="card-footer">
									<p class="card-text"><a href="#">Next=></a></p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="card">
								<img class="card-img-top" src="https://via.placeholder.com/200x200" alt="">
								<div class="card-body">
									Un entretien  face à un opérationnel.
									<br>
									<br>
									<br>
									</div>
								<div class="card-footer">
									<p class="card-text"><a href="#">Next=></a></p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="card">
								<img class="card-img-top" src="https://via.placeholder.com/200x200" alt="">
								<div class="card-body">
								Le bilan et le suivi de l'entretien
								</div>
								<div class="card-footer">
									<p class="card-text"><a href="#">Terminé!</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane pt-4" role="tabpanel" id="tabBlog">
					<div class="row"></div>
					<div class="row"></div>
					<div class="row"></div>
					<div class="row"></div>
					<div class="row"></div>
					<div class="row"></div>
					<div class="row"></div>
					<div class="row"></div>
					<div class="row mb-5">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-md-3">
											<i class="fa-solid fa-car-building"></i>
											<p class="h5">Transport<br/><small class="text-muted"></small></p>
										</div>
										<div class="col-md-3">
											<i class="fa-solid fa-house-user fa-bounce fa-2xl"></i>
											 <p class="h5">Logement<br/><small class="text-muted"></small></p>
										</div>
										<div class="col-md-3">
											<i class="fa-duotone fa-laptop fa-bounce fa-2xl"></i>
											<p class="h5">Ordinateur Portable<br/><small class="text-muted"></small></p>
										</div>
										<div class="col-md-3">
											<i class="fa-solid fa-block-question fa-bounce fa-2xl"></i>
											<p class="h5">Aide 24/7 <br/><small class="text-muted">Nous répondons aux questions tout le temps</small></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					</div>
			</div>
		</div>
	</div>
	
<div class="container">
	<div class="row mb-5">
		<div style=" margin-left: 10%;">
            <div class="col-md-10">
                <div class="card" style="position: relative;bottom: 15px;">
                    <div class="card-header">Contact Us</div>
                    <div class="card-body">
                        <p class="m-0"><strong>Website:</strong> http://www.focus.com.tn</p>
                        <p class="m-0"><strong>Adresse:</strong>
							BP 57, Pôle Technologique El Ghazela, Ariana, Ariana, 2088 Tunisie</p>
                        
                        <p class="m-0"><strong>E-mail :</strong>
							contact@focus-corporation.com</p>
						<p class="m-0"><strong>Tél & Fax</strong></p>
                        <p> (+216) 70 106 100<br>
							 (+216) 70 106 111</p>
                    </div>
                </div>
            </div>

        </div>
		<div></div>
		<div class="col-md-12 mb-5">
			<div class="card" style="position: relative;top: 300px;">
				<div class="card-header">
					<p class="m-0 lead text-center">Réseaux sociaux</p>
				</div>
				<div class="card-body">
					<ul class="nav justify-content-center">
						<li class="nav-item">
							<a class="nav-link" href="#"><i class="fa-3x fab fa-facebook-f"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#"><i class="fa-3x fab fa-twitter"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#"><i class="fa-3x fab fa-instagram"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#"><i class="fa-3x fab fa-google-plus-g"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#"><i class="fa-3x fab fa-youtube"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#"><i class="fa-3x fab fa-pinterest"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#"><i class="fa-3x fab fa-linkedin-in"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>	
	
	</div>
</div>
</div>
