<div class="card">
    <div class="card-header">
      <h2>Details Card Offer</h2>
    </div>
    <div class="card-body">
      <p class="price">$29.99</p>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at imperdiet massa. Vivamus varius ante euismod, consequat lorem vel, dapibus eros. Aenean vel velit libero. </p>
      <ul class="features">
        <li>Feature 1</li>
        <li>Feature 2</li>
        <li>Feature 3</li>
      </ul>
      <a class="btn" href="#">Buy Now</a>
    </div>
  </div>


  {{lesoffres|json}}