<div class="body">
  <div class="header">
    <div style="margin-top: 5%;">
      <div class="d-flex justify-content-center m-4">
        <h1>Trouver <strong>Stagiaire</strong></h1>
      </div>
    </div>
  </div>
   
  <div class="cardcontainer">
    <div class="card" *ngFor="let stagiaire of lesstagiaires">
      <div class="card-header">
        <h2>{{ stagiaire.Nom }}</h2>
        <p>{{ stagiaire.Prenom }}</p>
      </div>
      <div class="card-body">
        <p class="location">{{ stagiaire.Adresse }}</p>
        <p class="salary">{{stagiaire.Email}}</p>
        
        <ul class="requirements">
          <li>(CV) </li>
          <li>(Lettre de  motivation) </li>
        </ul>
        <a class="btn" href="#">Details Stagiaire</a>
      </div>
    </div>
  
  </div>
</div>
